 {% block content%}
<nav class="navbar-wrapper  cyan darken-1 z-depth-0" role="navigation" style="margin-bottom:0 ">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Photy</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        {% if user.is_authenticated %}
        <a id="logout" href="/accounts/logout" class="pull-right btn-xs" style="transform: translate(0,12px);">Logout</a> {%endif %}
        <img class="img-circle pull-right" src="{{ request.user.profile.profile_image_url }}" />
        <div class="user-info pull-right" style="transform: translate(50px,12px);">
            {% load account %}
            <span>
        {% user_display user %} </span>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
{% endblock %}
